<div class="summary">
    <div class="title">World Report Summary</div>
    <div class="data-blocks-group">
      <div class="data-blocks">
        <div class="data-block-title">Total Confirmed</div>
        <div class="data-block-value">{{globaldata.TotalConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Recovered</div>
      <div class="data-block-value">{{globaldata.TotalRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Deaths</div>
      <div class="data-block-value">{{globaldata.TotalDeaths}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Confirmed</div>
      <div class="data-block-value">{{globaldata.NewConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Recovered</div>
      <div class="data-block-value">{{globaldata.NewRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Deaths</div>
      <div class="data-block-value">{{globaldata.NewDeaths}}</div>
    </div>
  </div>
  </div>